
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400;500;600;700&display=swap');



/* RRRRRRRRRRRRRRRRRRRR  VARIABLES | */

:root {
    --blue: #1C447F;
    --indigo: #5E688D;
    --purple: #5E688D;
    --pink: #F08D19;
    --red: #Ef5353;
    --orange: #E4782E;
    --light-orange: #F08D19;
    --dark-orange: #E4782E;
    --yellow: #FAD644;
    --green: #5B8AA0;
    --teal: #5B8AA0;
    --cyan: #B2D3DE;
    --white: #FFFFFF;
    --off-white: #FAFAFA;
    --gray: #575757;
    --gray-dark: #2F2F2F;

    --primary: #1C447F;
    --secondary: #5E688D;
    --accent: #5B8AA0;
    --success: #5B8AA0;
    --info: #b2d3de;
    --warning: #FAD644;
    --danger: #Ef5353;
    --link: #B2D3DE;


    --light: #F8F9FA;
    --dark: #2F2F2F;

    --gray-100: #f8f9fa;
    --gray-200: #f7f7f9;
    --gray-300: #eceeef;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #919aa1;
    --gray-700: #55595c;
    --gray-800: #343a40;
    --gray-900: #212529;

    --font-sans-serif: system-ui, -apple-system, "Khand", Roboto, "Fira Code", Arial, "Sarabun", "Courier Prime", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Fira Code", "Courier Prime", monospace;
    --font-cursive: "Pacifico", cursive;
    --font-emoji: "Noto Emoji", sans-serif;

    --font-headlines: 'Khand', sans-serif;
    --font-sub-headlines: 'Khand', sans-serif;
    --font-body: 'Sarabun', sans-serif;
    --font-quote: 'Fira Code', monospace;
    --font-accent: 'Pacifico', cursive;
    --font-button: 'Khand', sans-serif;

    --font-weight-lighter: 300;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-bolder: 700;

    --lead-font-size: calc(var(--font-size-base) * 1.25);
    --lead-font-weight: 300;

    --small-font-size: .875em;
    --sub-sup-font-size: .75em;
    --text-muted: var(--gray-600);
    --initialism-font-size: var(--small-font-size);

    --headings-margin-bottom: calc(var(--spacer) * .5);
    --headings-font-family: var(--font-headlines);
    --headings-font-style: normal;
    --headings-font-weight: bolder;
    --headings-line-height: 1;
    --headings-color: var(--primary);

    --blockquote-margin-y: var(--spacer);
    --blockquote-font-size: calc(var(--font-size-base) * 1.25);
    --blockquote-footer-color: var(--gray-600);
    --blockquote-footer-font-size: var(small-font-size);

    --h1-font-size: 5rem !default;
    --h2-font-size: 4.5rem !default;
    --h3-font-size: 4rem !default;
    --h4-font-size: 3.5rem !default;
    --h5-font-size: 3rem !default;
    --h6-font-size: 2rem !default;
    --h7-font-size: 1.25rem !default;
    --headings-font-weight: bolder !default;
    --headings-color: var(--primary) !default;

    --display-1: 5rem !default;
    --display-2: 4.5rem !default;
    --display-3: 3.5rem !default;
    --display-4: 3rem !default;
    --display-5: 2rem !default;
    --display-6: 1.5rem !default;
    --display-7: 1.25rem !default;
    --display-font-weight: lighter !default;
    --display-line-height: var(--headings-line-height);
    --display-color: var(--primary) !default;

    --lead-font-size: calc(var(--lead-font-weight) * 1.25);
    --lead-font-weight: 300;

    --small-font-size: .875em;
    --sub-sup-font-size: .75em;
    --text-muted: var(--gray-600);
    --initialism-font-size: var(--small-font-size);

    --btn-line-height: 1.5rem !default;
    --btn-font-weight: bold !default;
    --btn-font-family: var(--font-button);
    --input-btn-padding-y: .75rem;
    --input-btn-padding-x: 1.5rem;
    --input-btn-padding-y-sm: .5rem;
    --input-btn-padding-x-sm: 1rem;
    --input-btn-padding-y-lg: 2rem;
    --input-btn-padding-x-lg: 2rem;

    --input-line-height: 1.5 !default;
    --input-bg: var(--gray-200) !default;
    --input-disabled-bg: var(--gray-300) !default;
    --input-group-addon-bg: var(--gray-300) !default;

    --form-floating-height: add(3.5rem, var(--input-height-border));
    --form-floating-line-height: 1.25;
    --form-floating-padding-x: var(--input-padding-x);
    --form-floating-padding-y: 1rem;
    --form-floating-input-padding-t: 1.625rem;
    --form-floating-input-padding-b: .625rem;
    --form-floating-label-opacity: .65;
    --form-floating-label-transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    --form-floating-transition: opacity .1s ease-in-out, transform .1s ease-in-out;

    --pagination-border-color: transparent;
    --pagination-hover-border-color: var(--pagination-border-color);
    --pagination-disabled-border-color: var(--pagination-border-color);

    --thumbnail-padding: .25rem;
    --thumbnail-bg: var(--body-bg);
    --thumbnail-border-width: var(--border-width);
    --thumbnail-border-color: var(--gray-300);
    --thumbnail-border-radius: var(--border-radius);
    --thumbnail-box-shadow: var(--box-shadow-sm);
    --spacer: flex-grow: 1;

    --grid-gutter-width: 1.5rem;
    --gutters-0 0: 0;
    --gutters-1: calc(var(--spacer * .25));
    --gutters-2: calc(var(--spacer * .5));
    --gutters-3: var(--spacer);
    --gutters-4: calc(var(--spacer * 1.5));
    --gutters-5: calc(var(--spacer * 3));

}


.required-field {
    color: var(--red);
}


/* RRRRRRRRRRRRRRRRRRRR  FORMS | */


.datepicker-date-display, 
.datepicker-table td.is-selected, 
.timepicker-digital-display {
    background-color: var(--primary);
}

label {
    color: var(--primary);
}

.label {
    color: var(--primary);
}

input:not([type])+label:after, input[type=text]:not(.browser-default)+label:after, input[type=password]:not(.browser-default)+label:after, input[type=email]:not(.browser-default)+label:after, input[type=url]:not(.browser-default)+label:after, input[type=time]:not(.browser-default)+label:after, input[type=date]:not(.browser-default)+label:after, input[type=datetime]:not(.browser-default)+label:after, input[type=datetime-local]:not(.browser-default)+label:after, input[type=tel]:not(.browser-default)+label:after, input[type=number]:not(.browser-default)+label:after, input[type=search]:not(.browser-default)+label:after, textarea.materialize-textarea+label:after, .select-wrapper+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: .2s opacity ease-out, .2s color ease-out;
    transition: .2s opacity ease-out, .2s color ease-out;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.input-field>label {
    color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

    
.form-group label+input,
.form-group label+select,
.form-group label+textarea {
    display: block;
}

fieldset {
    border: 1px solid var(--white);
    margin: 0
}

.input-line-height {
    line-height: 1.5;
}

.input-bg {
    background-color: var(--gray-200);
}

.input-disabled-bg {
    background-color: var(--gray-600);
}

.input-group-addon-bg {
    background-color: var(--gray-400);
}

.input-btn-border-width {
    border-width: 0px;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"] {
    height: 25px;

input[type="week"],
select[multiple],
select[size],
textarea {
    background: var(--white);
    border: 1px solid var(--gray-400);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border-top: 1px solid var(--gray-400);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--primary);
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    outline: 0;
    padding: 4px;
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select[multiple]:focus,
select[size]:focus,
textarea:focus {
    border: 1px solid var(--primary);
    -moz-box-shadow: inset 0 1px 2px var(--gray-400);
    -webkit-box-shadow: inset 0 1px 2px var(--gray-400);
    box-shadow: inset 0 1px 2px var(--gray-400);
}

select[multiple],
select[size] {
    height: auto;
    padding: 0;
}

select[size]:disabled {
    background: var(--white);
    opacity: 1;
}


textarea {
    resize: vertical;
}

.space {
    height: 30px;

}

.line {
    border-bottom: 1px solid var(--primary);
}


/* RRRRRRRRRRRRRRRRRRRR  TEXT | */



.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headlines) !important;
    font-weight: var(--font-weight-bold) !important;
    text-transform: uppercase !important;
    color: var(--primary) !important;
    background-color: var(--off-white) !important;
}

.forms-studio-header, 
.forms-studio-question.header,
.forms-studio-form-title {
    font-family: var(--font-headlines) !important;
    font-weight: var(--font-weight-bold) !important;
    text-transform: uppercase !important;
    color: var(--primary) !important;
    background-color: var(--off-white) !important;
}


.forms-studio-main-form {
    background-color: var(--off-white) !important;
    margin-bottom: 48px;
    -webkit-box-shadow: var(--off-white) !important;
    box-shadow: var(--off-white) !important;
    word-wrap: break-word;
    min-height: 125px;
}


.forms-studio-accent {
    color: var(--off-white) !important;
    background-color: var(--off-white) !important;
}

body,
input,
.body.    
.input,
.forms-studio-question,
.forms-studio-form-content,    
.forms-studio-body {
    font-family: var(--font-body) !important;
    font-weight: var(--light) !important;
    color: var(--primary) !important;
    background-color: var(--white) !important;
    font-size: 13px;
    margin: 0;
}
    
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form p:last-child {
    margin-bottom: 10px;
}

.forms-studio-form-description {
    font-family: var(--font-body) !important;
    font-weight: var(--light) !important;
    color: var(--primary) !important;
    font-size: .9rem;
    margin-top: 1.75rem;
    white-space: pre-wrap;
    line-height: 135%;
}


disclaimer a,
disclaimer, 
.disclaimer a,
.disclaimer {
    background-color: var(--off-white) !important;
    color: var(--off-white) !important;
}


/* RRRRRRRRRRRRRRRRRRRR  BUTTONS | */


button 
.button {
    color: var(--primary) !important;
    background-color: var(--white) !important;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    align-self: auto;
    flex: 2;
    padding: 1.5rem 1.75rem 1.4rem;
    font-family: Khand, sans-serif !important;
    font-size: 1.33rem;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    display: inline-flex;
    box-sizing: inline-flex;
    line-height: 100%;
    border: 3px solid var(--primary);
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--primary);
    cursor: pointer;
}

button.outline {
    color: var(--primary) !important;
    background-color: var(--white) !important;
    border-width: 3px;
    border: 3px solid var(--primary);
}

button:hover {
    color: var(--primary) !important;
    filter: brightness(110%);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transform-origin: 50%;
    text-decoration: none;
    background-color: var(--white);
    box-shadow: var(--off-white);

}

button.outline:hover {
    color: var(--white);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transform-origin: 50%;
    text-decoration: none;
    background-color: var(--primary);
    box-shadow: var(--off-white);
}

button:active {
    filter: brightness(110%);
    color: var(--accent);
    border-color: var(--accent);
    border-width: 3px;
    border: 3px solid var(--accent);
}

.button.outline:active {
    filter: brightness(100%);
    color: var(--white);
    border-color: var(--white);
    border-width: 3px;
    border: 3px solid white;
}

.btn-floating, 
.btn.file-upload-btn, 
.forms-studio-fileupload, 
.forms-studio-signature button, 
.forms-studio-submit {
    color: var(--primary) !important;
    background-color: var(--white) !important;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    align-self: auto;
    flex: 2;
    padding: 1.5rem 1.75rem 1.4rem;
    font-family: Khand, sans-serif !important;
    font-size: 1.33rem;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    display: inline-flex;
    box-sizing: inline-flex;
    line-height: 100%;
    border: 3px solid var(--primary) !important;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--primary) !important;
    cursor: pointer;
 } 

.forms-studio-fileupload:focus,
.forms-studio-submit:focus {
    filter: brightness(100%);
    color: white !important;
    border-color: white !important;
    border-width: 3px;
    border: 3px solid white;
}
     
.forms-studio-fileupload:hover,    
.forms-studio-submit:hover {
    color: var(--white);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transform-origin: 50%;
    text-decoration: none;
    background-color: var(--primary);
    box-shadow: 1px 1px 10px var(--secondary);
}
