/*

font-family: 'Khand', sans-serif;
font-family: 'Sarabun', sans-serif;

*/

/* CONTAINERS */
<style>
    /* 

font-family: 'Khand', sans-serif;
font-family: 'Sarabun', sans-serif;

*/

    /* CONTAINERS */


    body {
        color: #1C447F;
        font-family: 'Sarabun', sans-serif;
        font: 12px/14px 'Sarabun', sans-serif;
        line-height: 150%;
    }

    p {
        color: #1C447F;
        font-family: 'Sarabun', sans-serif;
        font: 16px/18px 'Sarabun', sans-serif;
        line-height: 150%;
    }

    .block {
        display: block;
    }

    .block+.block {
        margin-top: 16px;
    }

    .inline {
        display: inline-block;
    }

    .inline+.inline {
        margin-left: 12px;
    }

    .top,

    .top-left {
        top: 0;
        position: absolute;
    }

    .top-right {
        top: 0;
        position: absolute;
        right: 0;
    }

    .margin-bottom-s {
        padding-bottom: 4px;
    }

    .margin-bottom-m {
        padding-bottom: 12px;
    }

    .margin-bottom-l {
        padding-bottom: 14px;
    }

    .bottom,
    .bottom-left,
    .button-bar {
        bottom: 0;
        position: absolute;
    }

    .bottom-right,
    .button-bar-right {
        bottom: 0;
        position: absolute;
        right: 0;
    }

    /* TEXT */

    h1 {
        color: #1C447F;
        font-family: 'Khand', sans-serif;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0px;
    }

    h2 {
        color: #1C447F;
        font-family: 'Khand', sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0px;
    }
    }

    h3 {
        color: #1C447F;
        font-family: 'Khand', sans-serif;
        font-size: 28px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0px;
    }

    h4 {
        color: #1C447F;
        font-family: 'Khand', sans-serif;
        font-size: 26px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0px;
    }

    h5 {
        color: #1C447F;
        font-family: 'Khand', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0px;
    }

    h6 {
        color: #1C447F;
        font-family: 'Khand', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0px;
    }

    a {
        color: #1C447F;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .current {
        color: #1C447F;
        font-weight: 700;
    }

    .error {
        color: #dd4b39;
    }

    .gray,
    .grey {
        color: #777;
    }

    .secondary,

    .small {
        color: #8aafc1;
        font: 14px/16px 'Khand', sans-serif;
        display: inline-block;
    }


    /* BUTTONS */

    .button {
        color: white;
        background-color: #1c437f;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        align-self: auto;
        flex: 2;
        padding: 1.5rem 1.75rem 1.4rem;
        font-family: Khand, sans-serif;
        font-size: 1.33rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        transition: all .2s;
        display: inline-flex;
        box-sizing: inline-flex;
        line-height: 100%;
        border: 3px solid #1c437f;
        border-width: 3px;
        border-radius: 5px;
        border-style: solid;
        border-color: #1c437f;
        cursor: pointer;
    }

    .button.outline {
        color: #1c437f;
        background-color: rgba(0, 0, 0, 0);
        color: #1c437f;
        background-color: #white;
        border-width: 3px;
        border: 3px solid #1c437f;
    }

    .link {
        color: #1c437f;
        background-color: white;
        font-family: Khand, sans-serif;
        font-size: 1.33rem;
        font-weight: 700;
        border-style: none;
        line-height: 100%;


    }

    .button:hover {
        color: #1c437f;
        filter: brightness(110%);
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        transform-origin: 50%;
        text-decoration: none;
        background-color: white;
        box-shadow: 1px 1px 10px rgba(28, 67, 127, .69);

    }

    .button.outline:hover {
        color: white;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        transform-origin: 50%;
        text-decoration: none;
        background-color: #1c437f;
        box-shadow: 1px 1px 10px rgba(28, 67, 127, .69);

    }

    .link:hover {
        color: #5B8AA0;
    }

    .button:active {
        filter: brightness(110%);
        color: #5B8AA0;
        border-color: #5B8AA0;
        border-width: 3px;
        border: 3px solid #5B8AA0;
    }

    .button.outline:active {
        filter: brightness(100%);
        color: white;
        border-color: white;
        border-width: 3px;
        border: 3px solid white;
    }

    .link:active {
        color: #5B8AA0;
        filter: brightness(120%);
    }


    /* OTHER FORM ELEMENTS */

    .form-group label+input,
    .form-group label+select,
    .form-group label+textarea {
        display: block;
    }

    fieldset {
        border: 1px solid #ebebeb;
        margin: 0;
    }

    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select[multiple],
    select[size],
    textarea {
        background: #fff;
        border: 1px solid #d9d9d9;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        border-top: 1px solid #c0c0c0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #1C447F;
        font-family: 'Sarabun', sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        outline: 0;
        padding: 4px;
    }

    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"] {
        height: 25px;
    }

    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="email"]:focus,
    input[type="month"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    input[type="week"]:focus,
    select[multiple]:focus,
    select[size]:focus,
    textarea:focus {
        border: 1px solid #1C447F;
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    }

    select[multiple],
    select[size] {
        height: auto;
        padding: 0;
    }

    select[multiple]:disabled select[size]: disabled {
        background: #fff;
        opacity: 1;
    }

    textarea {
        resize: vertical;
    }

    .space {
        height: 30px;

    }

    .line {
        border-bottom: 1px solid #1C447F;
    }
