/*


*/

/* 

font-family: 'Khand', sans-serif;
font-family: 'Sarabun', sans-serif;

*/

/* CONTAINERS */

body {
    color: #1C447F;
    font-family: 'Sarabun', sans-serif;
    font: 10px/12px 'Sarabun', sans-serif;
    line-height: 120%;
}


.block {
    display: block;
}

.block+.block {
    margin-top: 16px;
}

.inline {
    display: inline-block;
}

.inline+.inline {
    margin-left: 12px;
}

.top,
.top-left {
    top: 0;
    position: absolute;
}

.top-right {
    top: 0;
    position: absolute;
    right: 0;
}

.bottom,
.bottom-left,
.button-bar {
    bottom: 0;
    position: absolute;
}

.bottom-right,
.button-bar-right {
    bottom: 0;
    position: absolute;
    right: 0;
}

/* TEXT */

h1 {
    border-bottom: 1px solid #acacac;
    font-family: 'Khand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    color: #1C447F;
    font-family: 'Khand', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
}

a {
    color: #1C447F;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.current {
    color: #1C447F;
    font-weight: 700;
}

.error {
    color: #dd4b39;
}

.gray,
.grey {
    color: #777;
}

.secondary,
.small {
    color: #8aafc1;
    font: 12px/14px 'Khand', sans-serif;
}

/* BUTTONS */

.button,
button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"] {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #f1f1f1);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(top, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: default;
    font-family: 'Khand', sans-serif;
    font-size: 10px;
    font-weight: 700;
    height: 36px;
    line-height: 100%;
    margin: 0;
    min-width: 72px;
    outline: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
}

.button.action,
.button.blue,
button.action,
button.blue,
input[type="button"].action,
input[type="button"].blue,
input[type="submit"].action,
input[type="submit"].blue {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #fff);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(fff, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #1C447F;
    color: #1C447F;
}

.button.create,
.button.red,
button.create,
button.red,
input[type="button"].create,
input[type="button"].red,
input[type="submit"].create,
input[type="submit"].red {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #fff);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(fff, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #Ef5353;
    color: #Ef5353;
    text-shadow: 0 1px rgba(0, 0, 0, .1);
    text-transform: uppercase;
}

.button.green,
.button.share,
button.green,
button.share,
input[type="button"].green,
input[type="button"].share,
input[type="submit"].green,
input[type="submit"].share {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #fff);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(fff, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #5B8AA0;
    color: #5B8AA0;
    text-shadow: 0 1px rgba(131, 130, 130, 0.464);
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="image"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
}

.button.action:hover,
.button.blue:hover,
button.action:hover,
button.blue:hover,
input[type="button"].action:hover,
input[type="button"].blue:hover,
input[type="submit"].action:hover,
input[type="submit"].blue:hover {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #fff);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(fff, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #2b4e84;
    color: #2b4e84;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.button.create:hover,
.button.red:hover,
button.create:hover,
button.red:hover,
input[type="button"].create:hover,
input[type="button"].red:hover,
input[type="submit"].create:hover,
input[type="submit"].red:hover {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #fff);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(fff, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #eb6161;
    color: #eb6161;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.button.green:hover,
.button.share:hover,
button.green:hover,
button.share:hover,
input[type="button"].green:hover,
input[type="button"].share:hover,
input[type="button"].green:hover,
input[type="submit"].share:hover {
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -ms-linear-gradient(top, #fff, #fff);
    background: -o-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(fff, #fff, #fff);
    background: linear-gradient(top, #fff, #fff);
    border: 3px solid #8aafc1;
    color: #8aafc1;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="image"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
}

.button:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active {
    background: -moz-linear-gradient(top, #1C447F, #1C447F);
    1C447F background: -o-linear-gradient(top, #1C447F, #1C447F);
    background: -webkit-linear-gradient(#1C447F, #1C447F);
    background: linear-gradient(top, #1C447F, #1C447F);
    border: 3px solid #1C447F;
    color: #1C447F;
}

.button.action:active,
.button.blue:active,
button.action:active,
button.blue:active,
input[type="button"].action:active,
input[type="button"].blue:active,
input[type="submit"].action:active,
input[type="submit"].blue:active {
    background: #fff;
    border: 3px solid #1C447F;
    color: #1C447F;
}

.button.create:active,
.button.red:active,
button.create:active,
button.red:active,
input[type="button"].create:active,
input[type="button"].red:active,
input[type="submit"].create:active,
input[type="submit"].red:active {
    background: #fff;
    border: 3px solid #eb6161;
    color: #eb6161;
}

.button.green:active,
.button.share:active,
button.green:active,
button.share:active,
input[type="button"].green:active,
input[type="button"].share:active,
input[type="submit"].green:active,
input[type="submit"].share:active {
    background: #fff;
    border: 1px solid #8aafc1;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    color: #8aafc1;
}


.button+.button,
button+button,
input+input {
    margin-left: 12px;
}


/* OTHER FORM ELEMENTS */

.form-group label+input,
.form-group label+select,
.form-group label+textarea {
    display: block;
}

fieldset {
    border: 1px solid #ebebeb;
    margin: 0;
}


input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select[multiple],
select[size],
textarea {
    background: #fff;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border-top: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1C447F;
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    outline: 0;
    padding: 4px;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    height: 25px;
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select[multiple]:focus,
select[size]:focus,
textarea:focus {
    border: 1px solid #1C447F;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

select[multiple],
select[size] {
    height: auto;
    padding: 0;
}

select[multiple]:disabled select[size]: disabled {
    background: #fff;
    opacity: 1;
}

textarea {
    resize: vertical;
}