/* ****************************************************/
/* FONTS **********************************************/
/* ****************************************************/

@import url(https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;700&display=swap);

body /*need a add a cs-portal class in body*/ {
    background: #FFFFFF !important;  /* Body background color */
    color: #fff !important; /* Body Font color */
    font-family: 'Inter', Arial, Helvetica, sans-serif !important;
    font-size: 1rem !important; /* Body Font size */
}


/* Customize active menu item font */
.cs-portal-spf-wrapper .left-menu ul li.active span.list-ul-icon,
.left-menu ul li.active span.list-ul-icon, .linkactive, .dinamic-link-wraps:before {
    background-color: #5B8AA0 !important; /* active menu icon color */
    color: #5B8AA0 !important; /* active menu icon color */
}

/* Customize active menu item font */
.left-menu ul li a:hover span.slide-link:before,
.cs-portal-spf-wrapper .left-menu ul li.active span.list-ul-icon {
    background-color: #5B8AA0 !important;
}

/* ****************************************************/
/* LOGIN SCREEN ***************************************/
/* ****************************************************/

  /* Customize the sign-in form background and text color */
  .cs-portal-spf-wrapper .agent-login-panel .form {
    background: #FFFFFF !important; /* Form background color */
    color: #1c437f !important; /* Button text color */
    font-family: 'Khand', Impact, Arial, Helvetica, sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    line-height: 100% !important;
    padding: 20px !important; /* Form padding */
    border-radius: 8px !important; /* Rounded corners for the form */
}


.email-error .label.customErrorClass .span.customErrorClass {
    color: #5B8AA0 !important; /* Link font color */
    }


/* Customize the input fields (username and password) */
.client_login_form .login-form-control .form input[type="email"],
.client_login_form .login-form-control .form input[type="text"],
.client_login_form .login-form-control .form input[type="password"],

.cs-portal-spf-wrapper .agent-login-panel .form input[type="email"],
.cs-portal-spf-wrapper .agent-login-panel .form input[type="text"],
.cs-portal-spf-wrapper .agent-login-panel .form input[type="password"] {
    background: #1c437f !important; /* Input background color */
    color: #FFFFFF  !important; /* Input text color */
    font-size: 16px !important; /* Input font size */
    font-family: 'Inter', Arial, Helvetica, sans-serif !important;
    font-weight: 300 !important;
    line-height: 120% !important;
    border: 1px solid #1c437f !important; /* Input border color */
    border-radius: 3px !important; /* Rounded corners for inputs */
	padding: 8px 26px !important; /* Input padding */
    margin-bottom: 15px !important; /* Space between input fields */
    height: 45px!important;
}


/* Customize the placeholder text color */
.client_login_form .login-form-control .form input[type="email"]::placeholder,
.client_login_form .login-form-control .form input[type="text"]::placeholder,
.client_login_form .login-form-control .form input[type="password"]::placeholder,

.cs-portal-spf-wrapper .agent-login-panel .form input[type="email"]::placeholder,
.cs-portal-spf-wrapper .agent-login-panel .form input[type="text"]::placeholder,
.cs-portal-spf-wrapper .agent-login-panel .form input[type="password"]::placeholder {
    color: #FFFFFF !important; /* Placeholder text color */
    font-family: 'Inter', Arial, Helvetica, sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important; /* Placeholder text font size */
}


/* Specific button styles */
.cs-portal-spf-wrapper a.rounded_link,
.cs-portal-spf-wrapper .bur-icon span,
.cs-portal-spf-wrapper .save_button,
.cs-portal-spf-wrapper .slide-profile-login a,
.cs-portal-spf-wrapper .profile-btn > div > a,
.cs-portal-spf-wrapper .agent-login-panel .form input[type="submit"],
.cs-portal-spf-wrapper .agent-login-panel .form input[type="submit"],
.cs-portal-spf-wrapper .pop-form-submit input[type="submit"] {
    display: inline-flex !important;
    font-size: 16px !important; /* button font size */
    color: #1c437f !important; /* Button text color */
    font-family: 'Khand', sans-serif !important; /* button font family */
    background: #FFFFFF !important; /* Button background color */
    border: 3px solid #1c437f !important;
    border-radius: 5px !important;
    cursor: pointer !important; /* Pointer cursor on hover */
    font-weight: 700 !important;
    line-height: 100% !important;
    border: 3px solid #1c437f !important;
    border-radius: 4px !important; /* Rounded corners for button */
    padding: 1.1rem 1.75rem 1.0rem !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    transition: all .2s !important;
}


/* Profile name and dropdown font customization */
.cs-portal-spf-header .profile-name {
    font-size: 18px !important; /* profile designation font size */
    color: #1C447F !important; /* menu font color */
    font-family: 'Khand', Impact, sans-serif !important; /* menu font family */
    line-height: 90% !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

    /* Change the "Please Sign In" header text */
    .cs-portal-spf-header .profile-wrap ul li a,
    .cs-portal-spf-view-login,
    .cs-portal-spf-wrapper .agent-login-panel .form h2 {
        color: #1c437f  !important; 
        color: #1c437f !important; /* Button text color */
        font-family: 'Khand', Impact, Arial, Helvetica, sans-serif !important;
        font-size: 24px !important; /* Header font size */
        font-size: 24px !important; /* Header font size */
        font-weight: 700 !important;
        line-height: 120% !important;
        margin-bottom: 20px !important; /* Space below the header */
        text-align: Left  !important;    
        text-transform: uppercase !important;
    }

    /* ****************************************************/
    /* SIDE PANEL   ***************************************/
    /* ****************************************************/

/* Side panel menu font customization */
.cs-portal-spf-wrapper .left-menu ul li a,
.cs-portal-spf-wrapper .left-menu ul li span {
    color: #1C447F !important; /* menu font color */
    font-family: 'Khand', Impact, sans-serif !important; /* menu font family */
    font-size: 1.5rem !important;
    font-size: 16px !important; /* menu font size */
    font-weight: 700 !important;
    line-height: 90% !important;
    margin-block-end: 0px !important;
    margin-block-start: 0px !important;
    margin-inline-end: 0px !important;
    margin-inline-start: 0px !important;
    text-align: left !important;
    text-transform: uppercase !important;
}


/* Schedule a call link styling */
.cs-portal-spf-left-sidebar .client-schedule-call a {
    background-color: #FFFFFF !important; /* Schedule-call background color */
    border-radius: 5px !important;
    border: 3px solid #1C447F !important;
    color: #1C447F !important; /* Schedule-call font color */
    cursor: pointer !important;
    display: inline-flex !important;       
    font-family: 'Khand', Impact, Arial, Helvetica, sans-serif !important;
    font-size: 16px !important; /* Schedule-call font size */
    font-weight: 700 !important;
    line-height: 100% !important;
    margin-bottom: 2rem !important;
    margin-top: 1rem !important;
    padding: 1.1rem 1.75rem 1.0rem !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    transition: all .2s !important;
}

/* Sidebar table font size and color */
.cs-portal-spf-wrapper .nclient-task-list .table-col-name {
    color: #1C447F !important; /* Sidebar table font color */
    font-family: 'Khand', Impact, Arial, Helvetica, sans-serif !important;
    font-size: 14px !important; /* Sidebar table font size */
    font-weight: 700 !important;
    line-height: 90% !important;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

/* Need review header font color and size */
.left-mini-heading,
.need-review,
.cs-portal-spf-wrapper .left-mini-heading {
    color: #1C447F !important; /* Need review font size */
    font-family: 'Khand', Impact, Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;  /* Need review font color */
    font-weight: 700 !important;
    line-height: 90% !important;
    text-align: left !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

/* Need review links font size and color */
.cs-portal-spf-need-review a span {
    text-decoration: none !important;

}

/* Link font color and size */
.cs-portal-spf-wrapper .show-all-side-list span {
    color: #5B8AA0 !important; /* Link font color */
    font-size: 15px !important; /* Link font size */
    text-decoration: none !important;
}

    /* ****************************************************/
    /* MENU ICONS   ***************************************/
    /* ****************************************************/

    .left-menu ul li a span.client-detail-icon {
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/gear-six-bold-raw.svg) no-repeat center !important;
        mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/gear-six-bold-raw.svg) no-repeat center !important;
    }

    .left-menu ul li a span.work-journal-icon {
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/list-checks-bold-raw.svg) no-repeat center !important;
        mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/list-checks-bold-raw.svg) no-repeat center !important;
    }

    .left-menu ul li a span.conversation-icon {
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/chat-text-bold-raw.svg) no-repeat center !important;
        mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/chat-text-bold-raw.svg) no-repeat center !important;
    }

    .left-menu ul li a span.file-icon {
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/file-arrow-down-bold-raw.svg) no-repeat center !important;
        mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/file-arrow-down-bold-raw.svg) no-repeat center !important;
    }

    .left-menu ul li a span.password-icon {
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/password-bold-raw.svg) no-repeat center !important;
        mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/password-bold-raw.svg) no-repeat center !important;
    }

    .left-menu ul li a span.client-portal-icon {
        -webkit-mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/rocket-launch-bold-raw.svg) no-repeat center !important;
        mask: url(https://cdn.jsdelivr.net/gh/REVREBEL/revrebel.io/phosphor-icons/raw/rocket-launch-bold-raw.svg) no-repeat center !important;
    }

    .docs-creator {
        color: #1c437f !important;
        text-decoration: none !important;
    }


/* ****************************************************/
/* FOOTER SECTON ***************************************/
/* ****************************************************/


.footer {
    background: #1c437f !important;
    background-color: #1c437f !important;
    font-family: 'Khand', Impact, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    color: #FFFFFF !important;
    text-transform: uppercase !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}
