<style>

  div:before {
  content:" "; 
  display:inline-block; 
  height:100%; 
  vertical-align:middle;
  }
  
  div p {
  display:inline-block;
  }
    
    .gfont {
      font-family: 'Khand', sans-serif;
      font-size:60px;
      font-weight:700;
      line-height:  90%;
      text-transform: uppercase;
      color: #1C447F;
      text-align: left;
    }
  

   
  </style>